# Analisa dataset Sampleweight.csv (Migrasi Tipe Data)

import library pandas untuk melakukan read dataset. btw pandas juga bisa melakukan beberapa fitur lain. tidak hanya membaca dataset. kita lihat saja nanti yuk.

In [3]:
import pandas as pd

In [4]:
d_weight = pd.read_csv('Sampleweight.csv')

Setelah itu, mari kita Preview data teratas yang ada didalam dataset dengan fungsi .head()

In [5]:
d_weight.head()

  Sample ID;Weight
0          1;500 g
1          2;650 g
2          3;510 g
3          4;480 g
4          5;558 g

Terlihat bahwa pemisahan data diatas masih belum terstruktur, dikarenakan pandas tidak bisa membaca separator/pemisah kolom yang menggunakan ";". Oleh karena itu, kita akan memberi tahu pandas bahwa separator yang kita punya itu adalah ";". Supaya pandas dapat mengidentifikasinya.

In [6]:
d_weight = pd.read_csv('Sampleweight.csv', sep = ';')

setelah kita menambahkan separator. Cek lagi datanya apakah sudah terpisah kolomnya dengan benar. Gunakan **.head()** lagi untuk melakukan pengecekan

In [7]:
d_weight.head()

   Sample ID Weight
0          1  500 g
1          2  650 g
2          3  510 g
3          4  480 g
4          5  558 g

nahh, masing masing kolom sudah terpisah. Jadi kita bisa langsung melakukan analisa pada data tersebut.

Yang pertama kita cek terlebih dahulu tipe data pada masing-masing kolom dengan menggunakan fitur **.dtypes**

In [8]:
d_weight.dtypes

Sample ID     int64
Weight       object
dtype: object

Terlihat bahwa =
1. kolom Sample ID memiliki tipe data integer/angka
2. kolom Weight memiliki tipe data object/string/huruf/karakter

oke, setelah kita mengetahui tipe data masing masing kolom.
Selanjutnya yaitu mengetahui apakah didalam data tersebut ada data yang kosong/mising. Mari kita eksekusi dengan menggunakan **.info()**

In [9]:
d_weight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sample ID  10 non-null     int64
 1   Weight     10 non-null     object
dtypes: int64(1), object(1)
memory usage: 288.0+ bytes

ada beberapa informasi bahwa :
1. Jumlah data kita yaitu 10 baris/record
2. Semua data start from 0. Jadi jika 10 data. maka data pertama berada di urutan ke 0. dan data terakhir di urutan/indeks ke 9.
3. Non-null count = jadi masing masing dari sample id dan weight berisi 10 non-null yang berarti. 10 record pada masing2 kolom itu tidak ada nilai yang kosong alias semua data telah terisi semua.

nah sekarang kita mau menghitung total berat keseluruhan pada kolom weight. kita gunakan fitur **.sum()**

In [10]:
d_weight['Weight'].sum()

'500 g650 g510 g480 g558 g644 g495 g510 g525 g501 g'

nah, data tersebut tidak menambahkan angkanya melainkan justru menulis kembali data pada tabel d_weight. Hal ini terjadi karena tipe data pada weight masih berupa object. sedangkan dalam melakukan proses perhitungan, tipe data harus dirubah ke angka / integer.

Sebelum kita merubah tipe data nya menjadi integer, kita harus hilangkan dulu  " g". Karena kita hanya akan membutuhkan angkanya saja. Jadi kita hilangkan semuanya selain angka. Gunakan fungsi **.str.strip()**

In [11]:
d_weight['Weight'] = d_weight['Weight'].str.strip(' g')

In [12]:
d_weight

   Sample ID Weight
0          1    500
1          2    650
2          3    510
3          4    480
4          5    558
5          6    644
6          7    495
7          8    510
8          9    525
9         10    501

oke tanda (' g') sudah hilang, mari kita sum kembali weightnya

In [13]:
d_weight['Weight'].sum()

'500650510480558644495510525501'

sip. tanda ' g' nya telah menghilang. sekarang Kita tinggal merubahnya ke tipe data integer. Gunakan fungsi **.astype()**

In [14]:
d_weight['Weight'] = d_weight['Weight'].astype('int')

coba kita gunakan **.dtypes** untuk memastikan apakah tipe data terlah berubah menjadi integer

In [15]:
d_weight.dtypes

Sample ID    int64
Weight       int64
dtype: object

oke. sudah berubah. mantul. sekarang kita sum lagi weightnya.

In [16]:
d_weight['Weight'].sum()

5373

# Analisa dataset Users.csv (Mengatasi Missing Data)

In [17]:
d_user = pd.read_csv('Users.csv')
d_user.head()

   Register Date;Name;Country
0  01/09/2020;Semar;Indonesia
1   23/12/2021;Gareng;Estonia
2   19/02/2022;Petruk;Bahrain
3  10/09/2024;Bagong;Maldives
4                          ;;

masalahnya sama seperti tadi. Mari kita beritahu pandas bahwa kita menggunakan separator semicolon / ;

In [18]:
d_user = pd.read_csv('Users.csv', sep = ';')
d_user

  Register Date       Name    Country
0    01/09/2020      Semar  Indonesia
1    23/12/2021     Gareng    Estonia
2    19/02/2022     Petruk    Bahrain
3    10/09/2024     Bagong   Maldives
4           NaN        NaN        NaN
5    10/08/2021     Arjuna  Argentina
6    11/04/2020     Shinta        NaN
7    05/11/2021      Anila      Japan
8    08/08/2021  Gatotkaca     Norway

terlihat di indeks ke 4. record nya kosong semua. Mari kita telusuri lebih dalam lagi dengan menggunakan **.info()**

In [19]:
d_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Register Date  8 non-null      object
 1   Name           8 non-null      object
 2   Country        7 non-null      object
dtypes: object(3)
memory usage: 344.0+ bytes

ada beberapa informasi bahwa :

1. Jumlah data kita yaitu 9 baris/record
2. Kolom register date terisi 8 dari 9 data (kosong 1)
3. kolom name terisi 8 dari 9 data (kosong 1)
4. kolom country terisi 7 dari 9 data (kosong 2)

dan juga ada beberapa alternatif lain untuk mengetahui data yang missing, menggunakan **.isna()** dan **.isnull()** . 

mari kita mulai dengan **.isna()**

In [20]:
d_user.isna().sum()

Register Date    1
Name             1
Country          2
dtype: int64

dengan isna lebih jelas kita mengetahui berapa data yang kosong pada masing masing kolom. 

Selanjutnya yaitu **.isnull()**

In [21]:
d_user[d_user.isnull().any(axis=1)]

  Register Date    Name Country
4           NaN     NaN     NaN
6    11/04/2020  Shinta     NaN

dengan menggunakan **.isnull()** kita langsung ditunjukkan letak di indeks ke berapa. data tersebut kosong. Lalu untuk code `any axis = 1` maksudnya adalah data yang kosong tetap ditampilkan walau hanya ada 1 kolom saja yang kosong.

oke, sekarang kita lakukan drop pada bagian data yang null (kosong). Tapi kita menghapusnya jangan di original-nya langsung. kita buat copyan dengan cara membuat variabel baru bernama 
```
dropped_user
```

kosongkan data dengan menggunakan fungsi **.dropna()**

- gunakan **axis = 0** ketika ingin menghapus baris.
- gunakan **axis = 1** ketika ingin menghapus kolom.
- inplace true maksudnya mereturn suatu fungsi 'True' dimana kita menjalankan fungsi dropna tersebut agar berjalan sesuai dengan tujuan kita, yaitu menghilangkan baris jika ada salah satu kolom yang datanya kosong.

In [22]:
dropped_user = d_user.copy()
dropped_user.dropna(axis = 0, inplace =True)
dropped_user

  Register Date       Name    Country
0    01/09/2020      Semar  Indonesia
1    23/12/2021     Gareng    Estonia
2    19/02/2022     Petruk    Bahrain
3    10/09/2024     Bagong   Maldives
5    10/08/2021     Arjuna  Argentina
7    05/11/2021      Anila      Japan
8    08/08/2021  Gatotkaca     Norway

okey, sekarang masalah data missing sudah beres.

Lalu sekarang coba kita mengamati kolom *Register Date* . Di indeks ke 3. ada orang yang dari masa depan mendaftar di tahun ini. padahal sekarang tahun 2022 tapi ada orang yang mengisi data dia register pada tahun 2024.

In [23]:
dropped_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 8
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Register Date  7 non-null      object
 1   Name           7 non-null      object
 2   Country        7 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes

oke yang pertama kita rubah dulu format *Register Date* menjadi bentuk format datetime dengan menggunakan fungsi **to_datetime**

dari datetime kita rubah lagi ke date karena kita hanya butuh datenya saja. sedangkan datetime itu lengkap. tidak hanya date namun ada jam nya juga. 

karena kita butuh datenya saja. maka kita rubah ke date. dengan tambahan **.dt.date**

In [24]:
import datetime as dt

In [25]:
dropped_user['Register Date'] = pd.to_datetime (dropped_user['Register Date']).dt.date
dropped_user

  Register Date       Name    Country
0    2020-01-09      Semar  Indonesia
1    2021-12-23     Gareng    Estonia
2    2022-02-19     Petruk    Bahrain
3    2024-10-09     Bagong   Maldives
5    2021-10-08     Arjuna  Argentina
7    2021-05-11      Anila      Japan
8    2021-08-08  Gatotkaca     Norway

nah sekarang *Register Date* sudah mengikuti format date milik pandas

selanjutnya kita buat inisialisasi variabel baru yang berisi tanggal hari ini dengan nama variabel 

```
today_date
```

setelah itu baru kita filter. ada berapa banyak data yang tahunnya melebihi **today_date**

In [26]:
today_date = dt.date.today()
dropped_user[dropped_user['Register Date'] > today_date]

  Register Date    Name   Country
3    2024-10-09  Bagong  Maldives

ternyata hanya ada 1 record data yang berasal dari masa depan. yaitu di indeks ke 3.

dimasalah ini kita coba menyelesaikannya dengan mengubah data register yang melebih today date menjadi tanggal saat ini (today date)

In [27]:
 dropped_user.loc[dropped_user['Register Date'] > today_date , 'Register Date'] = today_date 

 dropped_user[dropped_user['Register Date'] > today_date]

Empty DataFrame
Columns: [Register Date, Name, Country]
Index: []

In [28]:
dropped_user

  Register Date       Name    Country
0    2020-01-09      Semar  Indonesia
1    2021-12-23     Gareng    Estonia
2    2022-02-19     Petruk    Bahrain
3    2022-03-26     Bagong   Maldives
5    2021-10-08     Arjuna  Argentina
7    2021-05-11      Anila      Japan
8    2021-08-08  Gatotkaca     Norway

# Analisa dataset Products.csv (Menghapus duplikasi data)

In [29]:
d_produk = pd.read_csv('Products.csv', sep=';', encoding ='unicode_escape')
d_produk.head()

,Product ID,Product Name,Product Categories
0,1,Cimory Squeeze Original Yogurt 120ml,Susu & Olahan Susu-Yogurt
1,2,KitKat Green Tea4F 35gr,Snack-Cokelat
2,3,Bayam Hidroponik 150 gram,Sayur & Buah-Sayuran Hijau
3,4,Emina Sun Protection SPF 30 PA+++,Kecantikan-Sunscreen
4,3,Bayam Hidroponik 150 gram,Sayur & Buah-Sayuran Hijau

wah indeks ke 3 double gaiss... 

mari kita gunakan fungsi **.duplicated** biar lebih cakep

In [30]:
d_produk[d_produk.duplicated()]

   Product ID               Product Name          Product Categories
4           3  Bayam Hidroponik 150 gram  Sayur & Buah-Sayuran Hijau

oh,. berarti yang duplicate hanya ada 1 aja, yaitu di id 3. jika lebih dari satu. maka otomatis akan ketahuan di sini gais.

oke selanjutnya kita drop data yang duplikat dengan menggunakan fungsi **.drop_duplicate()** kita tampung dalam variabel 

```
produk_drop_dup
```

In [32]:
produk_drop_dup = d_produk.drop_duplicates()
produk_drop_dup

,Product ID,Product Name,Product Categories
0,1,Cimory Squeeze Original Yogurt 120ml,Susu & Olahan Susu-Yogurt
1,2,KitKat Green Tea4F 35gr,Snack-Cokelat
2,3,Bayam Hidroponik 150 gram,Sayur & Buah-Sayuran Hijau
3,4,Emina Sun Protection SPF 30 PA+++,Kecantikan-Sunscreen

Oke masalah duplikat data sudah clear.

Next mari kita lihat di kolom *Produk Categories* didalam satu kolom berisi 2 kategori yang sebenernya dapat dipisah karena terdapat tanda '-' disana. Mari kita pisah dengan menggunakan **.str.split()**

In [33]:
d_produk['Product Categories'].str.split('-', expand = True)

                    0              1
0  Susu & Olahan Susu         Yogurt
1               Snack        Cokelat
2        Sayur & Buah  Sayuran Hijau
3          Kecantikan      Sunscreen
4        Sayur & Buah  Sayuran Hijau

Oke, sekarang mari kita masukan jadi satu di kolom

In [37]:
d_produk[['Kategori 1', 'Kategori 2']] = d_produk['Product Categories'].str.split('-', expand = True)
d_produk

,Product ID,Product Name,Product Categories,Kategori 1,Kategori 2
0,1,Cimory Squeeze Original Yogurt 120ml,Susu & Olahan Susu-Yogurt,Susu & Olahan Susu,Yogurt
1,2,KitKat Green Tea4F 35gr,Snack-Cokelat,Snack,Cokelat
2,3,Bayam Hidroponik 150 gram,Sayur & Buah-Sayuran Hijau,Sayur & Buah,Sayuran Hijau
3,4,Emina Sun Protection SPF 30 PA+++,Kecantikan-Sunscreen,Kecantikan,Sunscreen
4,3,Bayam Hidroponik 150 gram,Sayur & Buah-Sayuran Hijau,Sayur & Buah,Sayuran Hijau